/* #1- ALL POSITIONING MUST INCLUDE FLEX BOX */
* {
  background-color: #f2cedb;
  font-family: cursive;
  color: #342a59;
}

/* #2b- header layout must match mockup on a wide screen 1200px+ monitor */
#section1 {
  display: flex;
  background-color: #f277a4;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0.5em;
}

#mainlogo {
  height: 200px;
  width: 250px;
  background-color: #f277a4;
}

#section1a {
  display: flex;
  background-color: #f277a4;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  background-color: #f277a4;
  font-size: 5vw;
  margin-bottom: 0;
}

#tagline {
  background-color: #f277a4;
  font-size: 2vw;
}

/* #3b- navbar layout must match mockup on a wide screen 1200px+ monitor */
#section2 {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  margin: 0.5em;
  border-style: dotted;
  border-color:#342a59;
}

#nav_menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}

.navbutton {
  display: flex;
  border-style: none;
  border-color: #f2cedb;
  color: #342a59;
  font-size: 1.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  align-content: center;
  flex-wrap: nowrap;
}

main {
  display: flex;
}

#meimg {
  height: 350px;
  width: 300px;
}
/* #4b- main section, left column takes up 30% screen width & right takes up 70% */
#section3 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 30%;
  margin: 0.5em;
}

#section4 {
  display: flex;
  justify-content: flex-start;
  flex-basis: 70%;
  flex-direction: column;
  margin-right: 2%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#section4a {
  display: flex;
  order: 0;
  flex-direction: column;
  flex-basis: 70%;
}

#section4a > p {
  margin-top: 0;
}

#section4b {
  display: flex;
  order: 1;
  flex-direction: row;
  flex-basis: 70%;
  justify-content: space-between;
  align-items: center;
}

#ranken {
  height: 10vh;
  width: 10vw;
}

/* 5b- footer layout must match mockup on a wide screen 1200px+ monitor */
footer {
  display: flex;
  flex-basis: 70%;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 20%;
}

#section5 {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  margin-left: 30%;
  margin-top: 0.5em;
}

#section6 {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  text-align: end;
  margin-left: 45%;
  margin-top: 0.5em;
  font-size: 5%;
}

/* #6c- use media queries to make the layout scale responsive (large desktop, breakpoint: 2500px) */
@media only screen and (min-width: 2500px) {
  #mainlogo {
    height: 45vh;
    width: 20vw;
    background-color: #f277a4;
  }
  h1 {
    font-size: 12vh;
  }
  #tagline {
    font-size: 6vh;
    margin-top: 0;
  }
  .navbutton {
    font-size: 5vh;
  }
  #section4a > h2 {
    font-size: 7.5vh;
    margin-bottom: 0;
  }
  #section4a > p {
  font-size: 3.5vh;
  }
  #section4b {
    font-size: 3.5vh;
  }
  #section4b > h2 {
    font-size: 6vh;
  }
  #section4b > p {
    font-size: 3vh;
  }
  #section4b > a {
    font-size: 5vh;
  }
  #meimg {
    height: 55vh;
    width: 25vw;
  }
  #ranken {
    height: 25vh;
    width: 12vw;
  }
  #section5 {
    font-size: 3.5vh;
  }
  #section6 {
    font-size: 3vh;
  }
  #mobile_menu {
    display: none;
  }
  main {
    display: flex;
    align-items: center;
  }
}

/* #6c- use media queries to make the layout scale responsive between the desktop and mobile versions (tablet landscape, 900-1199px) */
@media only screen and (max-width: 1199px) {
  #mainlogo {
    height: 20vh;
    width: 20vw;
    background-color: #f277a4;
  }
  #section1 {
    display: flex;
    align-items: center;
  }
  #section4a > h2 {
    font-size: 2em;
  }
  #section3 {
    display: flex;
    align-items: center;
  }
  #mobile_menu {
    display: none;
  }
  #meimg {
    size: 50%;
  }
  #ranken {
    size-adjust: 50%;
  }
  #section4b > p {
    font-size: 0.9em;
  }
  #section4b > a {
    font-size: 0.9em;
  }
  #section4b > h2 {
    font-size: 1.4em;
  }
  #section4b {
    justify-content: space-between;
    align-items: center;
  }
  #section5 > p {
    font-size: 70%;
  }
}

/* #6c- use media queries to make the layout scale responsive between the desktop and mobile versions (tablet-portrait, 600-899px) */
@media only screen and (max-width: 899px) {
  #mainlogo {
    height: 35vh;
    width: 17vw;
    background-color: #f277a4;
  }
  #section1a > h1 {
    font-size: 3em;
  }
  #section1a > p {
    font-size: 1.4em;
  }
  #section1 {
    display: flex;
    align-items: center;
  }
  .navbutton {
    display: flex;
    flex-wrap: nowrap;
  }
  #nav
  }
  #mobile_menu {
    display: none;
  }
  #meimg {
  size-adjust: 50%;
  }
  #ranken {
    size-adjust: 50%;
  }
}

/* #6c- use media queries to make the layout scale responsive between the desktop and mobile versions (mobile, 0-599px) */
/* #6b- when viewport reaches a cell phone size, use media queries to order column from top to bottom (order: nav, header, headshot, main content, footer) */
@media only screen and (max-width: 599px) {
  #section1a > h1 {
    font-size: 1.8em;
  }
  #section1a > p {
    font-size: 1em;
  }
  #section1 {
    display: flex;
    align-items: center;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  nav {
    order: 1;
  }
  #navmenu {
    display: flex;
    flex-direction: column;
  }
}