body{
  background-color: #b9fac0;
}

/* #16- footer fixed to bottom of viewport */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#jumbotronbox {
/* #8- suitable jumbotron background image */
  background-image: url(pics/jumbotron.JPG);
  background-repeat: none;
  background-size: cover;
/* #9- jumbotron text readable w/ text-shadow */
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px black;
}

#jumbotronboxtwo{
/* #22- suitable jumbotron background image */
  background-image: url(pics/jumbotron2.jpeg);
  background-repeat: none;
  background-size: cover;
  color: white;
  font-weight: bolder;
/* #23- text-shadow on text for readable jumbotron */
  text-shadow: 3px 3px black;
}

#bigtitle{
  font-size: 6em;
}

#bigtitletwo{
  font-size: 3em;
}


