/* #5- FlexBox for all parts of layout */
/* #6- mobile-first technique */
html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #04b8b8;
}
h1 {
  font-size: 50px;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}
#topline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logoimg {
  height: 100px;
  width: 100px;
  margin-right: 0;
}
ul {
  list-style: none;
}
#navbar {
  display: flex;
/* #9a- navbar vertical on mobile devices */
  flex-direction: column;
}
.navbuttons {
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-color: #025e5e;
  border-style: ridge;
}

#calltoaction {
  background-color: #f27856;
  display: flex;
/* #8a- on mobile, feature img goes above text and buy now button (call to action section) */
  flex-direction: column;
  color: white;
}
#ctalayout {
  display: flex;
  order: 2;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#bogoimg {
  display: flex;
  order: 1;
  height: 425px;
  width: 100%;
}
#bogotag {
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 0;
}
#bogodesc {
  font-style: italic;
}
#buynowbutton {
  background-color: red;
  color: white;
  font-size: 2em;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
}

main {
  background-color: #f084b3;
}
#mainsection1 {
  display: flex;
/* #10b- main section 1's 3 divs to be in column on mobile */
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5%;
  align-items: center;
  border-style: ridge;
  border-color: #a3438a;
}
#mainsct1a {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-right: 0;
}
#mainsct1b {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
#mainsct1c {
  display: flex;
  order: 3;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.mediumimgs {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  align-self: center;
  margin-top: 5%;
}
#mainsection1 > h3 {
  margin-bottom: 0%;
}

#mainsection2 {
  border-color: #a3438a;
  border-style: ridge;
/* #11c- main section 2's 4 divs should be column on mobile */
  display: flex;
  flex-direction: column;

}
.popularproductimgs {
  height: 200px;
  width: 200px;
}




/* #7- media query, breakpoint: 600px=tab portrait */
@media only screen and (min-width: 600px){
/* #11b- main section 2's 4 divs to be in 2x2 on tablet */
  #one {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  #two {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  #mainsection2 {
    display: flex;
    flex-direction: row;
  }
}



/* #7- media query, breakpoint: 1200px=dsktop */
@media only screen and (min-width: 1200px){
  #navbar {
    display: flex;
/* #9b- navbar horizontal on desktop */
    flex-direction: row;
  }
  #calltoaction {
    background-color: #f27856;
    display: flex;
  /* #2b- featured/bogo image right of text and button */
  /* #8b- on desktop, feature img goes right of text and buy now button (call to action section) */
    flex-direction: row;
    color: white;
  }
  #ctalayout {
    display: flex;
    order: 1;
    flex-basis: 45%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  #bogoimg {
    display: flex;
    order: 2;
  }
  #mainsection1 {
    display: flex;
/* #10a- main section 1's 3 divs to be in row on desktop */
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    align-content: center;
  }
  #mainsct1a {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 0;
    margin-right: 0;
  }
  #mainsct1b {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
  #mainsct1c {
    display: flex;
    order: 3;
    flex-direction: column;
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
  #mainsection2 {
    border-color: #a3438a;
    border-style: ridge;
    display: flex;
/* #11a- main section 2's 4 divs to be in row on desktop */
    flex-direction: row;
    flex-wrap: wrap;
  }
  #mainsct2a {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
  }
  #mainsct2b {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
  }
  #mainsct2c {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
  }
  #mainsct2d {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
  }

}